*{ 

    margin: 0;
    
    padding: 0;
    
    }

/* HEADER*/

header{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../IMG/Sin\ título.jpg);
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
align-items: flex-end;

grid-area: header;
}

.header__logo{
    height: 100px;
   
}

.header__enlaces {
list-style: none; 
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 50%;
}


.header__link{
display: inline-block;
margin: 40px 20px;
background-color: lightblue;
}

.header__link:hover{
    transform: scale(1.3);
    transition: all 2s;
    }

a{
    color: black;
    text-decoration: none;
}



/* Body de las paginas*/


/* BODY INDEX */



.grid__area{
display: grid;
grid-template-columns: 70vw 30vw;
grid-template-rows: 1fr;
grid-template-areas:
"header header "
"picture section"
"footer footer";
}

.main__principal{
    padding: 1rem;
}

.index__imagen{
    grid-area: picture; 
    padding: 2rem;     
    
}

.index__texto{
    grid-area: section;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding: 2rem;
    }

    
.tituloPrincipal{
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkblue;
    margin-left: 500px  
}

.cuerpo__imagen{
    padding-left:  300px;
}

.cuerpo__texto{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textoDescriptivo{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.quienesSomos__imagen{
    margin-left: 600px;
}

.contacto{
    background-color: aquamarine;
}

label{
    margin: 10px;
    display: block;
}

/* BODY GALERIA */

.galeria{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(3, 300px);
    max-width: 1300px;
    margin: 0% auto;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.galeria__imagen1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-image: url(../IMG/grid\ galeria\ horizontal\ 1.jpg);
    background-size: cover
}

.galeria__imagen2{
    grid-column: 4 / 5 ;
    grid-row: 1 / 3;      
    background-image: url(../IMG/grid\ galeria\ vertical\ 1.jpg);
    background-size: cover
}

.galeria__imagen3{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-image: url(../IMG/grid\ galeria\ normal\ 4.jpg);
    background-size: cover;

}

.galeria__imagen4{
    grid-column: 3 / 4 ; 
    grid-row: 2 / 3 ;
    background-image: url(../IMG/catering\ 6.png);
    background-size: cover
}

.galeria__imagen5{
    grid-column: 1 / 2 ; 
    grid-row: 3 / 4;
    background-image: url(../IMG/grid\ galeria\ normal\ 3.jpg);
    background-size: cover
}

.galeria__imagen6{
    grid-column: 2 / 5 ;
    grid-row: 3 / 4 ;
    background-image: url(../IMG/grid\ galeria\ horizontal\ 3.jpg);
    background-size: cover;
    background-position: bottom;
}


/* Footer de la pagina*/
.footer{
   background-color: darksalmon;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 200px;
   grid-area: footer;
}

.footer__logo{
    margin-top: 25px   
    
}

.footer__redes{
list-style: none;
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 25%;
align-items: center;
}

.footer__redes:hover{
    transform: scale(1.3);
    transition: all 2s;
    }



